* {
  margin: 0;
  padding: 0;
}


h3 {
  margin: 2rem;
}

.main {
  height: 90rem;
  margin: auto;
  width: 90rem;
}

.container {
  border: 2px solid black;
  border-right: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 40rem;
  margin: auto;
  margin-top: 7rem;
  width: 50rem;
}

.users-container {
  background-color: rgb(111, 52, 167);
  border: 1px solid black;
  color: white;
  height: 38.6rem;
  width: 17rem;
}

.messages-container {
  background-color: rgb(40, 61, 155);
  color: white;
  height: 38.75rem;
  width: 32.87rem;
}

.type-message-container {
  background-color: blanchedalmond;
  border: 1px black solid;
  height: 1.2rem;
  width: 99.9%;
}

.users {
  background-color: rgb(95, 187, 190);
  border: 1px grey solid;
  height: 38rem;
  justify-content: center;
  width: 17rem;
}

.all-messages {
  padding: 1rem;
}

.message-li {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.message-box {
  width: 87%;
}
