* {
  margin: 0;
  padding: 0;
}


h3 {
  margin: 2rem;
}

.main {
  height: 90rem;
  margin: auto;
  width: 90rem;
}

.container {
  border: 2px solid black;
  border-right: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 40rem;
  margin: auto;
  margin-top: 7rem;
  width: 50rem;
}

.users-container {
  background-color: rgb(37, 35, 124);
  border: 1px solid black;
  color: white;
  height: 38.6rem;
  overflow: scroll;
  width: 17rem;
}

.messages-container {
  background-color: rgb(55, 84, 107);
  color: white;
  height: 38.75rem;
  overflow: scroll;
  width: 32.87rem;
}

.type-message-container {
  background-color: blanchedalmond;
  border: 1px black solid;
  height: 1.2rem;
  width: 99.9%;
}

.online-user {
  margin-bottom: 0.4rem;
  margin-left: 1.5rem;
}

.all-messages {
  padding: 1rem;
}

.message-li {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.message-box {
  width: 87%;
}
